@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;600&display=swap');
html, 
body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
	background-color: #13141c;
	padding: 0;
	margin: 0;
	height: 100%;

}

*:focus {
    outline: none;
}

::-moz-selection { background: #f24B4B; }
::selection { background: #f24B4B; }

#background {
    background-image: url(../images/bg3.jpg);
	background-color: #13141c;
    background-position: center;
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
}

.navbar-container{
    margin: 0 auto;
    padding: 15px;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    max-width: 1000px;
    height: 54px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.logo{
    text-transform: uppercase;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
    font-weight: 200;
}

.menu{
    padding: 28px 17px;
}
.sign-up{
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    background-color: #f24B4B;
    color:#13141c ;
    font-weight: 600;
    letter-spacing: 2px;
    border: 1px solid #f24B4B;
    border-radius: 10px;
    padding: 10px 17px;
    box-shadow: 4px 4px 7px #000000a2;
    margin-right: 2rem;
}
.sign-in{
    cursor: pointer;
    background-color: transparent;
    font-weight: 600;
    letter-spacing: 2px;
    border: 1px solid #f24B4B;
    border-radius: 10px;
    padding: 10px 17px;
    box-shadow: 4px 4px 7px #000000a2;

}

#loginContainer * {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	line-height: 1em;
	box-sizing: border-box;
}

#loginContainer {
	width: 80%;
	margin: 0 auto;
	position: relative;
	max-width: 1024px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    rgba(255, 255, 255, 0.719);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}



.content h2 {
	text-align: center;
    font-weight: 700 !important;
    letter-spacing: 2px;
}

.content input[type="text"],
.content input[type="email"],
.content input[type="password"] {
	display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #f24B4B;
    margin-bottom: 15px;
    color: #fff;
    background: #0c0d1471;
    outline: none;
}

.content label {
	color: rgb(255 255 255 / 44%);
    font-size: 13px;
    margin-top: 15px;
    display: block;
}

button {
    font-family: Arial, Helvetica, sans-serif !important;
	background-color: #f24B4B;
    border: 2px solid #f24B4B;
    border-radius: 10px;
    display: block;
    font-size: 16px;
    letter-spacing: 2px;
    margin: 20px auto;
    height: 41px;
    width: 100%;
    color: #13141c !important;
    font-weight: 700 !important;
    padding: 10px 17px;
}

.content button:hover {
	cursor: pointer;
    color: #13141c !important;

}

.hasAccountText span {
	font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.hasAccountText {
	text-align: center;
}

#registerForm,
#loginForm {
	display: none;
}

#loginText {
    margin-top: 20vh;
    padding: 15px;
    margin-left: 10vw;
}

#loginText h1 {
    color: #f24B4B;
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 4rem;
   
}

#loginText p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    color: #fff;
    font-size: 1.5rem;
    line-height: 2rem;

}





.content .errorMessage {
    color: #f24B4B;
    font-size: 12px;
    display: block;
}
img.logout{
    width:30px
}

input:-webkit-autofill {
    -webkit-text-fill-color: #ffffff !important;/*The color of the word that the browser remembers the password*/
    transition: background-color 5000s ease-in-out 0s;/*Remove the background color by delay rendering the background color in disguise*/
    caret-color: #acfff2;/*Cursor color*/
    background: #ffffff00;
}

input:focus { outline: none; }/*External border line removal*/

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-150%) scale(0);
    width: 300px;
    z-index: 2;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient( to right bottom, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.05) );
       backdrop-filter: blur(2rem);
       border: 1px solid rgba(255,255,255,0.3);
       box-shadow: 0 10px 20px rgba(0, 0, 0, 0.253), 0 6px 6px rgba(0, 0, 0, 0.297);
    z-index: 1;
   }

   .popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    color: #f24B4B;
    font-size: 30px;
    
    }
   .popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
    }